footer {
    /* grid-row: 8; */

    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;

    position: relative;
}

.ko-footer {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
}

.media-icon {
    height: 20px;
    width: 30px;
    margin-right: 10px;
    font-size: 15px;
    padding: 0;
}

.media {
    grid-column: 1;

    position: relative;
}

.email {
    grid-column: 2;

    color: #E9FCFF;
    font-size: 14px;
    text-align: end;
}

.email-icon {
    display: none;
}

.media p {
    font-size: 14px;

    color: #E9FCFF;
    text-transform: uppercase;
}

.media-links {
    display: flex;
}

@media only screen and (max-width: 700px) {
    .email-icon {
        display: block;
    }

    .ko-footer {
        grid-template-columns: 1fr;
        padding-left: 3em;
        padding-bottom: 3em;
    }

    .email {
        display: none;
    }
}