footer {
    height: 3vh;
    position: absolute;
    bottom: 1;
    width: 100vw;
}

.AroundFooter {
    border: 1px solid orange;
    padding: 10px;
    padding-bottom: 6px;
    width: 10vw;
    margin: auto;
    margin-top: 16px;
}

.media-icon {
    height: 2.8vh;
    margin: 5px;
}