footer {
    grid-row: 8;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

.ko-footer {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.media-icon {
    height: 2.8vh;
    margin: 5px;
}

.media {
    grid-column: 1;
}

.email {
    grid-column: 2;

    color: #E9FCFF;
    font-size: 14px;
    text-align: end;
}

.media p {
    font-size: 14px;

    color: #E9FCFF;
    text-transform: uppercase;
}

.media-links {
    display: flex;
}