
.ko-gallery {
    grid-row: 5;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}

.gallery {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

iframe {
    width: 100%;
    border-radius: 10px;
}

.i1 {
    grid-column: 1;
}
.i2 {
    grid-column: 2;
}
.i3 {
    grid-column: 3;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media only screen and (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .i1 {
        grid-column: 1;
        grid-row: 1;
    }
    .i2 {
        grid-column: 1;
        grid-row: 2;
    }
    .i3 {
        grid-column: 1;
        grid-row: 3;
    }
}
