.side-info {
    position: fixed;
    top: 0;
    left: 0;

    text-align: left;
    padding: 20px;

    transition: all 2.5s ease-in-out;
}

.side-info h3 {
    text-transform: uppercase;
}

.side-info ul {
    margin-left: 0;
    padding-right: 0;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 12px;
}
.side-info li {
    list-style: none;
    margin-left: -40px;
    vertical-align: middle;
}
.side-info li::before {
    content: '';
    display: inline-block;
    background-image: url("./kitty-icon.svg");
    height: 12px;
    width: 12px;
    margin-right: 12px;
    margin-left: 3px;
    opacity: 50%;
}

.info-icon {
    height: 20px;
    position: relative;
    margin: 0;
    opacity: 88%;
}

.open {
    width: 33vw;

    background-color: rgba(20, 20, 20, 0.7);
    height: 100vh;
    margin: 0;
    border-right: 0.5px solid greenyellow;
    overflow-y: auto;
}
